
.transfer-container {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  position: absolute;
  cursor: move;
  border: 1px solid black;
  background-color: white;
  min-height: 400px;
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132),
    0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
}


.topright_transfer {
  position: relative;
    left: 180px;
}
.header_transfer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  color: #8B4726 ;
  font-family: "Gill Sans";
}


.text_box-transfer {
  font-size: 15px;
  position: relative;
    right: 80px;
    top: 30px;
}


.button_transfer {
  position: relative;
  top:40px;
  left:-5px;
  background-color: #8B4726;  
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button_transfer:hover {
  background-color: #654321;
  color: white;
}


.gif_transfer {
  position: relative;
  left:68px;
}


.credits_transfer {
  position: relative;
  bottom: -30px;
  left: 150px;
}